{% extends 'base.html' %}
{% import 'bootstrap/utils.html' as utils %}

{% block page_content %}
<div class="row" >
    <div class="col-md-8 col-md-offset-2" >
        <h1>Shortcake &mdash; Deliciously short URLs</h1>
        <form action="{{ url_for('webapp.index') }}" method="post" >
            <div class="input-group input-group-lg">
                <input type="text" class="form-control"
                    name="url" placeholder="Enter a URL to shorten" >
                <span class="input-group-btn" >
                    <button type="submit" class="btn btn-primary">
                        Shorten
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div id="flashed-messages" class="row" >
    <div class="col-md-8 col-md-offset-2" >
        {{ utils.flashed_messages(container=False) }}
    </div>
</div>
{% endblock %}
